# Enable Banking API credentials
ENABLEBANKING_CLIENT_ID=
ENABLEBANKING_CLIENT_SECRET=

# ING OAuth tokens
ING_ACCESS_TOKEN=
ING_REFRESH_TOKEN=

# Sabadell OAuth tokens
SABADELL_ACCESS_TOKEN=
SABADELL_REFRESH_TOKEN=

# Revolut OAuth tokens
REVOLUT_ACCESS_TOKEN=
REVOLUT_REFRESH_TOKEN=

# MyInvestor OAuth tokens
MYINVESTOR_ACCESS_TOKEN=
MYINVESTOR_REFRESH_TOKEN=
